<!-- ADD EVENTS PAGE -->
<figure class="lateral-0"></figure>
<figure class="lateral-1"></figure>
<figure class="lateral-2"></figure>
<figure class="lateral-3"></figure>
<figure class="top">
    <div class="abs-container" data-ng-controller="appointmentController as aptCtrl" ng-init="aptCtrl.loadAppointments()">
        <form name="aptForm" data-ng-submit="aptCtrl.createAppointment()" class="event-form">
        <div class="form-group">
            <input type="text" name="titleInput" class="form-control  input-sm" data-ng-model="aptCtrl.appointment.title" ng-minlength="3" ng-maxlength="85" placeholder="Event name" />
            <span class="error" ng-show="aptForm.titleInput.$touched && aptForm.titleInput.$error.minlength">Title is too short</span>
            <span class="error" ng-show="aptForm.titleInput.$error.maxlength">Title is too long</span>
        </div>
        <div class="form-group">
            <textarea class="form-control input-sm" name="textInput" data-ng-model="aptCtrl.appointment.text" ng-maxlength="255" placeholder="Event description" ></textarea>
            <span class="error" ng-show="aptForm.textInput.$error.maxlength">Text is too long</span>
        </div>
        <div class="form-group">
            <div class="calendar-container">
            <datepicker class="calendar">
                <input class="form-control  input-sm" ng-model="date"/>
            </datepicker>
            </div>
            <span class="error" ng-show="aptForm.dateInput.$pristine">You did not specify the date</span>
        </div>
        <!-- -->
        <div data-ng-controller="AptTimepickerController as tpCtrl">
            <div uib-timepicker ng-model="time" ng-change="setTime()" hour-step="hstep" minute-step="mstep" show-meridian="false"></div>
        </div>
        <!-- -->
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="Add appointment" />
        </div>
        </form>
    </div>
</figure>
<figure class="bottom"></figure>
