<div class="jumbotron text-center" data-ng-controller="appointmentController as aptCtrl">
	<section class="cube-container responsive dark-theme" tabindex="0" ng-keypress="key($event)">
		<div id="cube" class="cube show-top">
			<figure class="top">
				<div class="abs-container">
					<form name="aptForm" data-ng-submit="aptCtrl.createAppointment()" class="event-form">
					<div class="form-group">
						<input type="text" name="titleInput" class="form-control  input-sm" data-ng-model="aptCtrl.appointment.title" ng-minlength="3" ng-maxlength="50" placeholder="Event name" />
						<code ng-show="aptForm.textInput.$error">Please check again</code><br/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control input-sm" name="textInput" data-ng-model="aptCtrl.appointment.text" ng-maxlength="100" placeholder="Event description" />
						<code ng-show="aptForm.textInput.$error">Please check again</code><br/>
					</div>
					<div class="form-group">
						<div class="calendar-container">
						<datepicker class="calendar">
							<input class="form-control  input-sm" ng-model="date"/>
						</datepicker>
						</div>
					</div>
					<div class="form-group clock-form-group" ng-controller="ClockPickerController">
						<div class="clockpicker-container">
							<clockpicker ng-model="time"></clockpicker>
							<!--TODO: replace clockpicker with a small timepicker -->
						</div>
					</div>
					<input type="submit" class="btn btn-default" value="Save" />
					</form>
				</div>
			</figure>
			<figure data-ng-repeat="appointment in aptCtrl.appointments | limitTo:4 track by $index" class="lateral-{{$index}}">
				<div class="abs-container">
					<span class="event-title">{{ appointment.title }}</span>
					<span class="event-text">{{ appointment.text }}</span>
					<span class="event-date">{{ appointment.date | date:'dd-MM-yyyy' }}</span>
					<span class="event-time">{{ appointment.date | date:'HH:mm' }}</span>
				</div>
			</figure>
			<figure class="bottom">
				<div class="abs-container">
					<h1>Some static stuff</h1>
				</div>
			</figure>
		</div>
	</section>

			<!--section class="cube-container">
			<div id="cube" class="cube">
				<figure class="front">1</figure>
				<figure class="back">2</figure>
				<figure class="right">3</figure>
				<figure class="left">4</figure>
				<figure class="top">5</figure>
				<figure class="bottom">6</figure>
			</div>
			</section-->
</div>