<div class="text-center" data-ng-controller="appointmentController as aptCtrl">
	<section class="cube-container dark-theme">
		<div class="cube-offset">
			<div id="cube" class="cube show-left">
				<figure class="top">
					<div class="abs-container">
						<form name="aptForm" data-ng-submit="aptCtrl.createAppointment()" class="event-form">
						<div class="form-group">
							<input type="text" name="titleInput" class="form-control  input-sm" data-ng-model="aptCtrl.appointment.title" ng-minlength="3" ng-maxlength="85" placeholder="Event name" />
							<span class="error" ng-show="aptForm.titleInput.$touched && aptForm.titleInput.$error.minlength">Title is too short</span><br/>
							<span class="error" ng-show="aptForm.titleInput.$error.maxlength">Title is too long</span><br/>
						</div>
						<div class="form-group">
							<textarea class="form-control input-sm" name="textInput" data-ng-model="aptCtrl.appointment.text" ng-maxlength="255" placeholder="Event description" ></textarea>
							<span class="error" ng-show="aptForm.textInput.$error.maxlength">Text is too long</span><br/>
						</div>
						<div class="form-group">
							<div class="calendar-container">
							<datepicker class="calendar">
								<input class="form-control  input-sm" ng-model="date"/>
							</datepicker>
							</div>
							<span class="error" ng-show="aptForm.dateInput.$pristine">You did not specify the date</span><br/>
						</div>
						<!-- -->
						<div data-ng-controller="AptTimepickerController as tpCtrl">
							<div uib-timepicker ng-model="time" ng-change="setTime()" hour-step="hstep" minute-step="mstep" show-meridian="false"></div>
						</div>
						<!-- -->
						<div class="form-group">
							<input type="submit" class="btn btn-default" value="Add appointment" />
						</div>
						</form>
					</div>
				</figure>
				<figure data-ng-repeat="appointment in aptCtrl.appointments | limitTo:4 track by $index" class="lateral-{{$index}}">
					<div class="abs-container events">
						<span class="event-title">{{ appointment.title }}</span>
						<div class="event-datetime">
							<div class="date">
								<div class=" highlight">{{ appointment.date | date:'EEE' }}</div>
								<div>{{ appointment.date | date:'dd MMM' }}</div>
							</div>
							<div class="time">
								{{ appointment.date | date:'HH:mm' }}
								<span ng-show={{appointment.checked}}>all day<br/>event</span>
							</div>
							<div class="clearfix"></div>
						</div>
						<span class="event-text">{{ appointment.text }}</span>
					</div>
				</figure>
				<figure ng-repeat="t in setCube(aptCtrl.appointments.length) track by $index" class="lateral-{{aptCtrl.appointments.length - $index}}"></figure>
				<figure class="bottom">
					<div class="abs-container">
						<h1>Some static stuff</h1>
					</div>
				</figure>
			</div>
		</div>
	</section>
</div>