body {
    background:#000;
    font-family:@font-name, @font-fallback;
}
i{
    font-style: initial;
}
.btn-close {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0;
    top: 0;
}

.event-form{
    position: relative;
    height: 100%;
    .form-group{
        .calendar-container, .clockpicker-container {
            min-height: 32px;
        }
    }
    .btn{
        position: absolute;
        left:50%;
        margin-left:-30px;
        bottom:0;
    }
}
.form-control {
    color:@color-primary;
    border-color: transparent;
}

.clockpicker-container {
        width: 190px;
        margin: auto;
        
    .ui-clockpicker {
        .borderRadius();
        .transition(all);
        .transformOrigin(50%, 0);
        .scale(1, 0.2);
        position: absolute;
        z-index: 10;
    }
    &:hover, &:active, &.active {
       .ui-clockpicker {
        .scale();
        }
    }
}

.events {

    .event-title {
        display: block;
        font-weight: bold;
    }
    .event-text {
        display: block;
        
    }

    .event-date {
        display: block;
        font-weight: bold;
    }

    .event-time {
        display: block;
        
    }
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}