@color-bg:              #2B3E50;
@color-primary:         #DF691A;
@color-secondary:       #ccc8cc;
@color-success:         #5cb85c;
@color-info:            #5bc0de;
@color-warning:         #f0ad4e;
@color-danger:          #d9534f;
@text-color:            #111;
@link-color:            @color-primary;
@link-hover-color:      @link-color;
@link-hover-decoration: underline;
@dimen:                 15px;

@clock-color: @color-primary;
@clock-bg-color: @color-bg;
@clock-shadow: 0 0 20px rgba(0,0,0,0.2);

@font-name: 'Rubik';
@font-fallback: 'Open Sans', Arial, sans-serif;

@cube-dimen:            200px; 
@cube-translate-z:      @cube-dimen/2;
@cube-perspective:      1000px;

