@color-bg:              #2B3E50;
@color-primary:         #DF691A;
@color-success:         #5cb85c;
@color-info:            #5bc0de;
@color-warning:         #f0ad4e;
@color-danger:          #d9534f;
@text-color:            #ebebeb;
@link-color:            @color-primary;
@link-hover-color:      @link-color;
@link-hover-decoration: underline;
@dimen:                 15px;

